*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: "Inter",sans-serif;
}
.main {
    height: 100vh;
    width: 100%;
    background-color: #d0d4d5;
}
.nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav img{
    height:80px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
}
.nav-1 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-1 ul li {
    margin-right: 40px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav-1 ul li a {
    text-decoration: none;
    color: black;
}
.nav-1 li a:hover {
    text-decoration: underline;
}
.nav-2 i{
    margin-right: 40px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}
.nav-2 i:hover{
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    padding: 5px;
}
.content {
    height: calc(100%-110px);
    width: 100%;
    position: relative;
    display: flex;
}
.content-left {
    height: 100%;
    width: 40%;
    padding: 80px 100px;
    /* display: flex; */
}
.content-left h5 {
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;
}
.content-left h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 25px;
}
.content-left p {
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}
.btn {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
}
.btn:hover {
    background-color: #fff;
    color: black;
}
.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
}
.product {
    height: 370px;
    width: 250px;
    background: #1011;
    position: relative;
    box-shadow: 0 5px 10px rgba(17, 0, 17, 0.3);
    display: inline-block;
    margin-right: 20px;
    
}
.product img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}
.product h4 {
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    left: 68px;
}
.category {
    position: absolute;
    bottom: 20%;
    font-weight: 500;
    left: 75px;
}
.color {
    position: absolute;
    bottom: 15%;
    font-weight: 500;
    text-transform: capitalize;
    left: 75px;
}
.price {
    position: absolute;
    bottom: 5%;
    font-weight: 500;
    text-transform: capitalize;
    left: 75px;
}